.App {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  color: white;
  background-image: url("https://image.freepik.com/fotos-gratis/fundo-de-galaxia-espacial_53876-93121.jpg");
}

.Container {
  width: 95vw;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 25px;
}

.App > p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

a {
  color: yellow;
}
